.main-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; /* Limiter la largeur maximale */
  margin: 20px auto;
  padding: 24px;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligner à gauche */

  & h3 {
    font-size: 1.5rem; /* Taille plus grande pour le titre */
    color: #333;
    font-weight: 700;
    margin-bottom: 12px; /* Espacement sous le titre */
  }

  & p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 12px; /* Espacement entre les paragraphes */
  }

  & img {
    width: 60%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 16px; /* Espace sous l'image */
  }

  .date {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 8px; /* Espacement sous la date */
  }

  .like-count, .category {
    font-size: 1rem;
    color: #333;
    font-weight: 700;
    margin-top: 8px; /* Espace au-dessus de chaque info */
  }

  .category {
    font-size: 0.9rem;
    color: #555;
    font-weight: 500;
    text-transform: capitalize; /* Mettre en minuscule la première lettre */
  }

  .likes {
    font-size: 1rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 16px;
  }
}
